body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}
form {
  margin-bottom: 0px;
}
input, button {
  margin: 5px;
  padding: 8px;
}
table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
}
